Net ser_rxd LOC=A16  |  IOSTANDARD=LVCMOS33;
Net ser_txd LOC=B16  |  IOSTANDARD=LVCMOS33;

NET "CLK" LOC = L15 | IOSTANDARD = LVCMOS33;
#NET "RESET_I" LOC = T15;
NET "LED[0]" LOC = U18 |IOSTANDARD = LVCMOS33;
NET "LED[1]" LOC = M14 |IOSTANDARD = LVCMOS33;
NET "LED[2]" LOC = N14 |IOSTANDARD = LVCMOS33;
NET "LED[3]" LOC = L14 |IOSTANDARD = LVCMOS33;
NET "LED[4]" LOC = M13 |IOSTANDARD = LVCMOS33;
NET "LED[5]" LOC = D4 |IOSTANDARD = LVCMOS33;
NET "LED[6]" LOC = P16 |IOSTANDARD = LVCMOS33;
NET "LED[7]" LOC = N12 |IOSTANDARD = LVCMOS33;

CONFIG VCCAUX=3.3; # Valid values are 2.5 and 3.3

NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 10 ns HIGH 50 %;

